<div class="cta">

  <h1>Key articles</h1>
  <% if @articles.nil? %>
  <h1 align="center"><%="We cannot find any articles"%></h1>
  <% else %>
  <h1 align="center"><%="Today's article"%></h1>
  <div class="container">
    <div class="row">
      <% @articles.each do |article| %>
      <div class="col-12 col-lg-6">
        <%= render "articles/card", article: article%>
      </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>

