<div class="cta">

    <h2>Coronavirus</h2>
    <% if @articles.nil? %>
    <h1 align="center"><%="We cannot find your location"%></h1>
    <% else %>
    <h1 align="center"><%="Today's article #{@articles} "%></h1>
    <% end %>
</div>
