.navbar-unswayed {
  justify-content: space-between;
  background: white;
}

.navbar-unswayed .navbar-collapse {
  flex-grow: 0;
}

.navbar-unswayed .navbar-brand img {
  width: 40px;
}

.nav-item {
  font-size: 16px;
  margin-right: 30px;
}

.nav-item a {
  color: black;
}
